# private key to submit txs with
PRIVATE_KEY=0x

# default local rpc url
RPC_URL="http://localhost:8545"

### contract deployment values

# divide withdrawn values by 10^(18-BASE_CHAIN_ASSET_PRECISION)
BASE_CHAIN_ASSET_PRECISION=9

# the address of the bridge on the base chain
BASE_CHAIN_BRIDGE_ADDRESS="astria1rsxyjrcm255ds9euthjx6yc3vrjt9sxrm9cfgm"

# the denomination of the asset on the base chain
BASE_CHAIN_ASSET_DENOMINATION="nria"

### erc20 contract deployment additional values

# the `astriaBridgeSenderAddress` built into the astria-geth node
EVM_BRIDGE_ADDRESS=0x0000000000000000000000000000000000000000

# name of the token
TOKEN_NAME="astria"

# symbol of the token
TOKEN_SYMBOL="RIA"

### contract call values 

# contract address
ASTRIA_WITHDRAWER=0x5FbDB2315678afecb367f032d93F642f64180aa3

# if withdrawing to the sequencer, this must be set to
# the address to withdraw to on the sequencer
SEQUENCER_DESTINATION_CHAIN_ADDRESS=""

# if withdrawing to another chain via IBC, this must be set to 
# the destination chain address to withdraw to
ORIGIN_DESTINATION_CHAIN_ADDRESS="someaddress"

# amount to withdraw, must be greater than 10^ASSET_WITHDRAWAL_DECIMALS
AMOUNT=1000000000

# if minting, this is the mint recipient
MINT_TO=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266

# if minting, this is the amount to mint
MINT_AMOUNT=1000000000000000000
