# private key to submit txs with
PRIVATE_KEY=0x

# default local rpc url
RPC_URL="https://rpc.flame.astria.org"

### contract deployment values

# divide withdrawn values by 10^(18-BASE_CHAIN_ASSET_PRECISION)
BASE_CHAIN_ASSET_PRECISION=6

# the address of the bridge on the base chain
BASE_CHAIN_BRIDGE_ADDRESS="astria1kgxhyhvynhcwwrylkzzx6q3a8rn3tuvasxvuy8"

# the denomination of the asset on the base chain
BASE_CHAIN_ASSET_DENOMINATION="transfer/channel-2/factory/osmo1f5vfcph2dvfeqcqkhetwv75fda69z7e5c2dldm3kvgj23crkv6wqcn47a0/umilkTIA"

# the fee charged for each sequencer withdrawal transaction
SEQUENCER_WITHDRAWAL_FEE=1250000000000000

# the fee charged for each IBC withdrawal transaction
IBC_WITHDRAWAL_FEE=10000000000000000

# the address that receives the accumulated withdrawal fees
FEE_RECIPIENT=0x44204559465D67A65E489f030584A234E42f1d9E

### erc20 contract deployment additional values

# the `astriaBridgeSenderAddress` built into the astria-geth node
# in production, the private key for this address must NOT be known.
EVM_BRIDGE_ADDRESS=0xf1a177e000000000000000000000000000000002

# name of the token
TOKEN_NAME="Milk TIA"

# symbol of the token
TOKEN_SYMBOL="milkTIA"

### contract call values 

# contract address for AstriaBridgeableERC20.sol
ASTRIA_BRIDGEABLE_ERC20_ADDRESS=

# if withdrawing to the sequencer, this must be set to
# the address to withdraw to on the sequencer
SEQUENCER_DESTINATION_CHAIN_ADDRESS=""

# if withdrawing to another chain via IBC, this must be set to 
# the destination chain address to withdraw to
ORIGIN_DESTINATION_CHAIN_ADDRESS=""

# amount to withdraw, must be greater than 10^ASSET_WITHDRAWAL_DECIMALS
AMOUNT=1000000000
